<div class="container-login">
  <div class="container-login__form">
      <div class="form-logo">
        <img src="../../../assets/img/general/logo.svg">
      </div>

      <form action="">
        <h3>Bienvenido Administrador</h3>
        <p>Ingresa tus datos para ingresar iniciar tu cuenta.</p>

        <div class="form-group">
          <label for="">Correo</label>
          <input type="text">
        </div>

        <div class="form-group">
          <label for="">Contraseña</label>
          <input type="text">
        </div>

        <div class="form-group">
          <button class="btn">Ingresar</button>
        </div>
      </form>
  </div>
</div>