@import '../../../sass/variable';

.container-login {
    background: $color-gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 4%;
    &__logo{

    }
    &__form{
        width: 34%;
        .form-logo{
            text-align: center;
            margin-bottom: 25px;
        }
    }
    form{
        padding: 30px;
        background: white;
        box-sizing: border-box;
        h3{
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            padding-bottom: 10px;
            color: $color-black;
        }
        p{
            padding-bottom: 10px;
            text-align: center;
            font-size: 14px;
            color: $color-grayMedium;
        }
        .form-group {
            display: flex;
            flex-direction: column;
            padding: 10px 0px;
        }
        label{
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 10px;
        }
        input{
            width: 100%;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 13px;
            font-size: 16px;
            border:none;
            background: $color-graylight;
            box-sizing: border-box;
        }
        button{
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-secondary;
            font-size: 16px;
            color: $color-white;
            margin-bottom: 30px;
        }
    }
}