@import '../../../sass/variable';

.container-searchSupport{
    background:$color-graylight;
    padding: 3%;
    > div {
        background: $color-white;
        padding: 3%;
        box-sizing: border-box;
    }
    table{
        width: 100%;
        margin-top: 15px;
        .card{
            padding: 8px 15px;
            font-size: 12px;
            &-resuelto{
                background: #50CD89;
                color: $color-white;
            }
            &-green{
                background: #888C9F;
                color: $color-white;
            }   
        }
    }
    &__filters{
        display: flex;
        justify-content: space-between;
        .form-group{
            display: flex;
            align-items: center;
            position: relative;
            height: fit-content;
            &.search{
                input{
                    padding: 11px 45px;
                    background: $color-graylight;
                }
                svg{
                    position: absolute;
                    left: 15px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
            &.filter{
                
            }
        }
    }
}

/* Buttoms */
.btn-addMore {
    display: flex;
    align-items: center;
    background: $color-primary;
    padding: 9px 20px;
    color: $color-white;
    font-size: 16px;
    margin-left: 20px;
    svg{
        width: 25px;
        color: $color-primary;
        fill: white;
        padding-right: 5px;
    }
}