<div class="container-searchSupport">
    <div>
  
      <div class="container-searchSupport__filters">
        <div class="form-group search">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar cliente" #input>
        </div>
  
        <div class="form-group filter">
          <mat-form-field appearance="fill">
            <mat-label>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
              Filtros
            </mat-label>
            <mat-select [disabled]="disableSelect.value">
              <mat-option value="option1">
                
                <form action="">
                  
                </form>
  
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <button class="btn btn-addMore">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
            Añadir cliente
          </button>
  
        </div>
  
    </div>
  
    <table mat-table [dataSource]="dataSource" class="datatable-searchSupport">

      <ng-container matColumnDef="idUsuario">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ID USUARIO </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.idUsuario}} </td>
        </ng-container>
      
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> CORREO </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.correo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> NOMBRE </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="ult_ingreso">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ULTIMO INGRESO </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.ult_ingreso}} </td>
        </ng-container>
      
        <ng-container matColumnDef="f_registro">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> FECHA REGISTRO </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.f_registro}} </td>
        </ng-container>
  
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ACCIONES </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"> 
            <button mat-button [matMenuTriggerFor]="menu" class="menu_acciones">
              Acciones
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item >Editar</button>
          </mat-menu>
       </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
  
    </div>
  
  </div>