/* UI KIT */
$color-primary   : #5327DE;
$color-secondary   : #008EDE;


$color-black : #2C2C2C;
$color-white: #ffffff;

$color-graylight: #F5F8FA;
$color-gray: #EFEFEF;
$color-grayMedium: #888C9F;
$color-grayDark: #2C2C2C;