@import '../../../../sass/variable';

.navbar{

    &-option{
        display: flex;
        align-items: center;
        svg{
            width: 20px;
        }
        p{
            color: $color-grayDark;
            padding-left: 10px;
        }
    }

    .subMenu-navbar {
        display: flex;
        flex-direction: column;
        a {
            padding: 15px 55px;
            padding-right: 20px;
            color: $color-grayDark;
            text-decoration: none;
            &:hover{
                background: $color-primary;
                color: $color-white;
            }
        }
    }
}