<mat-accordion class="navbar">

    <mat-expansion-panel hideToggle
    routerLink="metricas">
      <mat-expansion-panel-header>

        <mat-panel-description>
          
          <div class="navbar-option">
            <svg id="MDI_view-dashboard-outline" data-name="MDI / view-dashboard-outline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Boundary" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                <rect width="24" height="24" stroke="none"/>
                <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
              </g>
              <g id="MDI_view-dashboard" data-name="MDI / view-dashboard" transform="translate(0.338 0.069)">
                <g id="Boundary-2" data-name="Boundary" transform="translate(-0.338 -0.069)" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                  <rect width="24" height="24" stroke="none"/>
                  <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
                </g>
                <path id="Path_view-dashboard" data-name="Path / view-dashboard" d="M13,3V9h8V3M13,21h8V11H13M3,21h8V15H3m0-2h8V3H3Z" transform="translate(-0.338 -0.069)" fill="#5327de"/>
              </g>
            </svg>
            
            <p>Métricas</p>
          </div>
          

        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" >
      <mat-expansion-panel-header>
  
        <mat-panel-description>

          <div class="navbar-option">
            <svg id="MDI_monitor-dashboard" data-name="MDI / monitor-dashboard" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Boundary" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                <rect width="24" height="24" stroke="none"/>
                <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
              </g>
              <path id="Path_monitor-dashboard" data-name="Path / monitor-dashboard" d="M16.98,13.186V3.6H2.6v9.588H16.98M16.98,2a1.6,1.6,0,0,1,1.6,1.6v9.588a1.6,1.6,0,0,1-1.6,1.6H11.387v1.6h1.6v1.6H6.593v-1.6h1.6v-1.6H2.6a1.6,1.6,0,0,1-1.6-1.6V3.6A1.592,1.592,0,0,1,2.6,2H16.98M4.2,5.2h7.191V9.191H4.2V5.2m7.99,0h3.2v1.6h-3.2V5.2m3.2,2.4v3.995h-3.2V7.593h3.2M4.2,9.99h3.2v1.6H4.2V9.99m3.995,0h3.2v1.6h-3.2Z" transform="translate(2.211 2.01)" fill="#5327de"/>
            </svg>
            
            
            <p>Páginas</p>
          </div>

          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
  
        <mat-panel-description>

          <div class="navbar-option">
            <svg id="MDI_account-multiple" data-name="MDI / account-multiple" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Boundary" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                <rect width="24" height="24" stroke="none"/>
                <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
              </g>
              <path id="Path_account-multiple" data-name="Path / account-multiple" d="M14.743,15.833v1.82H2v-1.82s0-3.641,6.372-3.641,6.372,3.641,6.372,3.641M11.557,7.186a3.186,3.186,0,1,0-3.186,3.186,3.186,3.186,0,0,0,3.186-3.186m3.131,5.006a4.842,4.842,0,0,1,1.875,3.641v1.82H20.2v-1.82s0-3.3-5.516-3.641M13.833,4a3.086,3.086,0,0,0-1.757.537,4.551,4.551,0,0,1,0,5.3,3.086,3.086,0,0,0,1.757.537,3.186,3.186,0,1,0,0-6.372Z" transform="translate(0.898 1.673)" fill="#5327de"/>
            </svg>
            
            <p>Usuarios</p>
          </div>

          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <div class="subMenu-navbar">
        <a routerLink="usuarios">Usuarios</a>
        <a routerLink="ayuda">Vendedores</a>
        <a routerLink="ayuda">Empresas</a>
        <a routerLink="ayuda">Tiendas oficiales</a>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
  
        <mat-panel-description>

          <div class="navbar-option">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Grupo_2484" data-name="Grupo 2484" transform="translate(-19 -203)">
                <g id="Boundary" transform="translate(19 203)" fill="#5327de" opacity="0">
                  <path d="M0,0H24V24H0Z" stroke="none"/>
                  <path d="M 1 1 L 1 23 L 23 23 L 23 1 L 1 1 M 0 0 L 24 0 L 24 24 L 0 24 L 0 0 Z" stroke="none" fill="rgba(0,0,0,0)"/>
                </g>
                <path id="Path_purse" data-name="Path / purse" d="M19.564,17.14l-.878-7.553a1.449,1.449,0,0,0-1.493-1.317h-2.9V4.756L12.538,3H9.025L7.268,4.756V8.269H4.37A1.449,1.449,0,0,0,2.877,9.587L2,17.14a1.528,1.528,0,0,0,1.493,1.669H18.071a1.528,1.528,0,0,0,1.493-1.669M9.025,4.756h3.513V8.269H9.025" transform="translate(20.219 204.096)" fill="#5327de"/>
              </g>
            </svg>
            
            <p>Productos</p>
          </div>

          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
  
        <mat-panel-description>

          <div class="navbar-option">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="MDI_archive-clock" data-name="MDI / archive-clock" transform="translate(0.429 -0.097)">
                <g id="Grupo_2488" data-name="Grupo 2488">
                  <g id="Boundary" transform="translate(-0.429 0.097)" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                    <rect width="24" height="24" stroke="none"/>
                    <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
                  </g>
                  <path id="Path_archive-clock" data-name="Path / archive-clock" d="M17.6,5.468H2V2H17.6V5.468m-3.034,5.2h-1.3V15L16.4,16.876l.65-1.058L14.57,14.353V10.669M20.2,14.136A6.066,6.066,0,0,1,9.16,17.6H2.867V6.334h13.87V8.658A6.077,6.077,0,0,1,20.2,14.136m-13-3.468H9.16a6.033,6.033,0,0,1,1.864-1.734H7.635a.429.429,0,0,0-.433.433v1.3m11.27,3.468a4.334,4.334,0,1,0-4.334,4.334A4.336,4.336,0,0,0,18.471,14.136Z" transform="translate(0.469 0.995)" fill="#5327de"/>
                </g>
              </g>
            </svg>
            
            <p>Pedidos</p>
          </div>

          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
  
        <mat-panel-description>

          <div class="navbar-option">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Grupo_2489" data-name="Grupo 2489" transform="translate(-19 -293)">
                <g id="Boundary" transform="translate(19 293)" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                  <rect width="24" height="24" stroke="none"/>
                  <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
                </g>
                <path id="Path_file-document-multiple" data-name="Path / file-document-multiple" d="M3.444,2.889v13H15v1.444H3.444A1.449,1.449,0,0,1,2,15.888v-13H3.444m7.944,2.167H15.36L11.388,1.083V5.055M6.333,0H12.11l4.333,4.333V13A1.439,1.439,0,0,1,15,14.443H6.333A1.444,1.444,0,0,1,4.889,13V1.444A1.439,1.439,0,0,1,6.333,0m6.5,11.555V10.11h-6.5v1.444h6.5M15,8.666V7.222H6.333V8.666Z" transform="translate(21.778 296.334)" fill="#5327de"/>
              </g>
            </svg>
            
            <p>Documentación</p>
          </div>

          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="subMenu-navbar">
        <a routerLink="documentacion">Políticas de Privacidad</a>
        <a routerLink="ayuda">Ayuda</a>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle
    routerLink="soporte">
      <mat-expansion-panel-header>
  
        <mat-panel-description>

          <div class="navbar-option">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Grupo_2485" data-name="Grupo 2485" transform="translate(-19 -335)">
                <g id="Boundary" transform="translate(19 335)" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                  <rect width="24" height="24" stroke="none"/>
                  <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
                </g>
                <path id="Path_face-agent" data-name="Path / face-agent" d="M16.171,12.955a6.145,6.145,0,0,0,.2-4.077,7.666,7.666,0,0,1-1.729.195A7.687,7.687,0,0,1,8.357,5.819,7.806,7.806,0,0,1,4.348,9.955a4.266,4.266,0,0,0-.034.661,6.153,6.153,0,0,0,8.679,5.619c.483.924.7,1.381.687,1.381a11.036,11.036,0,0,1-3.2.695,7.7,7.7,0,0,1-7.348-5.382H2V9.073h.924a7.7,7.7,0,0,1,12.993-3.9,7.62,7.62,0,0,1,2.093,3.9h.941v3.805h0v.051H18.9L15.883,15.7l-4.492-.509V13.777h4.094l.687-.822M8.162,10.421a.936.936,0,0,1,.678.288.959.959,0,1,1-.678-.288m4.619,0a.962.962,0,1,1-.966.966.959.959,0,0,1,.966-.966Z" transform="translate(20.525 336.464)" fill="#5327de"/>
              </g>
            </svg>
            <p>Soporte</p>
          </div>

          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle>
      <mat-expansion-panel-header>
  
        <mat-panel-description>

          <div class="navbar-option">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Grupo_2486" data-name="Grupo 2486" transform="translate(-19 -377)">
                <g id="Boundary" transform="translate(19 377)" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                  <rect width="24" height="24" stroke="none"/>
                  <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
                </g>
                <path id="Path_cash-multiple" data-name="Path / cash-multiple" d="M4.538,6h15.92V16.613H4.538V6M12.5,8.653a2.653,2.653,0,1,1-2.653,2.653A2.653,2.653,0,0,1,12.5,8.653M8.076,7.769A1.769,1.769,0,0,1,6.307,9.538v3.538a1.769,1.769,0,0,1,1.769,1.769H16.92a1.769,1.769,0,0,1,1.769-1.769V9.538A1.769,1.769,0,0,1,16.92,7.769H8.076M1,9.538H2.769v8.845H16.92v1.769H1Z" transform="translate(20.271 375.924)" fill="#5327de"/>
              </g>
            </svg>
            <p>Monetización</p>
          </div>

          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle>
      <mat-expansion-panel-header>
  
        <mat-panel-description>

          <div class="navbar-option">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Grupo_2487" data-name="Grupo 2487" transform="translate(-19 -420.5)">
                <g id="Boundary" transform="translate(19 420.5)" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                  <rect width="24" height="24" stroke="none"/>
                  <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
                </g>
                <path id="Path_sale" data-name="Path / sale" d="M16.444,2.577l.533,3.372,3.066,1.563L18.5,10.569l1.555,3.057L16.96,15.189l-.533,3.372-3.4-.533L10.61,20.439,8.181,17.993l-3.372.559-.542-3.4L1.22,13.6l1.555-3.057L1.229,7.512,4.295,5.931l.533-3.345,3.38.559L10.636.69l2.419,2.419,3.389-.533M8.452,6.2a1.31,1.31,0,1,0,1.31,1.31A1.31,1.31,0,0,0,8.452,6.2m4.367,6.114a1.31,1.31,0,1,0,1.31,1.31,1.31,1.31,0,0,0-1.31-1.31M7.5,14.936l7.5-7.5L13.771,6.2l-7.5,7.5Z" transform="translate(20.364 422.24)" fill="#5327de"/>
              </g>
            </svg>
            
            <p>Descuentos</p>
          </div>

          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle>
      <mat-expansion-panel-header>
  
        <mat-panel-description>

          <div class="navbar-option">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Grupo_2487" data-name="Grupo 2487" transform="translate(-19 -420.5)">
                <g id="Boundary" transform="translate(19 420.5)" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                  <rect width="24" height="24" stroke="none"/>
                  <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
                </g>
                <g id="MDI_crown" data-name="MDI / crown" transform="translate(19 420.5)">
                  <g id="Boundary-2" data-name="Boundary" fill="#5327de" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                    <rect width="24" height="24" stroke="none"/>
                    <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
                  </g>
                  <path id="Path_crown" data-name="Path / crown" d="M5,16,3,5l5.5,5L12,4l3.5,6L21,5,19,16H5m14,3a.945.945,0,0,1-1,1H6a.945.945,0,0,1-1-1V18H19Z" fill="#5327de"/>
                </g>
              </g>
            </svg>
            
            <p>Roles</p>
          </div>

          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle>
      <mat-expansion-panel-header>
  
        <mat-panel-description>

          <div class="navbar-option">
            <svg id="MDI_logout" data-name="MDI / logout" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Boundary" fill="#2c2c2c" stroke="rgba(0,0,0,0)" stroke-width="1" opacity="0">
                <rect width="24" height="24" stroke="none"/>
                <rect x="0.5" y="0.5" width="23" height="23" fill="none"/>
              </g>
              <path id="Path_logout" data-name="Path / logout" d="M16,17V14H9V10h7V7l5,5-5,5M14,2a2,2,0,0,1,2,2V6H14V4H5V20h9V18h2v2a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2V4A2,2,0,0,1,5,2Z" transform="translate(24 24) rotate(180)" fill="#2c2c2c"/>
            </svg>
            
            <p>Cerrar Sesión</p>
          </div>

          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
    

  </mat-accordion>