<div class="container-support">
    <div class="container-support__user">
        <div class="header">
            <div class="header-photo" style="background-image: url(https://images.pexels.com/photos/941693/pexels-photo-941693.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);"></div>
            <p>Junior López</p>
            <p>ID 1297412Y49</p>
        </div>
        <div class="body">
            <div>
                <p><strong>Categoría</strong></p>
                <p>DENUNCIA - PEDIDO</p>
            </div>

            <div>
                <p><strong>Nro de Pedido</strong></p>
                <p>
                    <span>
                        #12831923
                    </span>
                    <a (click)="openDialog()">DETALLES 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                    </a> 
                </p>
            </div>

            <div>
                <p><strong>Correo</strong></p>
                <p>jlopez@gmail.com </p>
            </div>
            
            <div>
                <p><strong>N° de celular</strong></p>
                <p>+519407840433</p>
            </div>
        </div>
    </div>

    <div class="container-support__description">

        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Consulta">
                <div class="container-tab">
                    <div class="header">

                        <div>
                            <p>ID TICKET</p>
                            <p>321531235324</p>
                        </div>

                        <div>
                            <p>FECHA EMITIDA</p>
                            <p>28 de Setiembre 2021</p>
                        </div>

                        <div>
                            <p>HORA</p>
                            <p>09:11 P.M.</p>
                        </div>

                        <div>
                            <p>ESTADO</p>
                            <p  [ngClass]="{'green' : textState === 'Resuelto'}">{{textState}}</p>
                        </div>

                    </div>

                    <div class="body">
                        <div class="body-answer" *ngIf="isResponse">
                            <p>CONSULTA</p>
                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. <br> <br> At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental. <br> <br> A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.</p>
                        
                            <div class="action">
                                <button class="btn btn-send" (click)="changeFormat();" *ngIf="!valueTextEmpy">Responder</button>
                            </div>
                        </div>

                        <div class="body-answer" style="padding-top: 30px;" *ngIf="valueTextEmpy">
                            <p>RESPUESTA</p>
                            <p>{{textResponse}}</p>
                        </div>

                        <form class="body-response" *ngIf="!isResponse">
                            <p>RESPUESTA</p>
                            <textarea name="" id="txtResponse" cols="30" rows="10"></textarea>

                            <div class="action">
                                <button type="button" class="btn btn-send" (click)="sendResponse('1')">Enviar</button>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>

            </mat-tab>

            <mat-tab label="Historial">

                <table mat-table [dataSource]="dataSourcePendientes" class="table-products">

                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> ID TICKET </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef> FECHA Y HORA </th>
                      <td mat-cell *matCellDef="let element">
                          {{element.fecha}}
                      </td>
                    </ng-container>
                
                    <ng-container matColumnDef="categoria">
                      <th mat-header-cell *matHeaderCellDef> CATEGORÍA </th>
                      <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef> ESTADO </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button class="btn btn-state"> {{element.estado}} </button>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef> VER TICKET </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button class="btn btn-viewTicket">Ver Ticket</button>
                    </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPendientes"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsPendientes;"></tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5]"
                                 showFirstLastButtons 
                                 aria-label="Select page of periodic elements">
                  </mat-paginator>

            </mat-tab>
        </mat-tab-group>
       
    </div>
</div>