@import '../../../../sass/variable';

.container-support{
    background:$color-graylight;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__user{
        width: 25%;
        background: $color-white;
        padding: 40px 25px;
        box-sizing: border-box;
        .header{
            &-photo{
                width: 100px;
                height: 100px;
                background-size: cover !important;
                background-position: center !important;
                margin: auto;
                border-radius: 80px;
                margin-bottom: 10px;
            }
            p{
                font-size: 15px;
                text-align: center;
                color: $color-black;
                
                &:nth-child(2){
                    font-weight: 500;
                    padding-bottom: 5px;
                }   
                &:nth-child(3){
                    font-size: 14px;
                    color: $color-grayMedium;
                }
            }
        }
        .body{
            padding-top: 10px;
            p{
                color: $color-black;
            }
             > div{
                 padding-bottom: 15px;
                p{
                    &:nth-child(1) {
                        font-weight: 500;
                        font-size: 15px;
                        padding-bottom: 5px;
                    }
                    &:nth-child(2){
                        font-size: 14px;
                        color: $color-grayMedium;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        a{
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            text-decoration: none;
                            color: $color-secondary;
                            font-weight: 500;
                            svg{
                                padding-left: 5px;
                                width: 15px;
                            }
                        }
                    }
                 }
             }
        }
    }
    &__description{
        width: 73%;
        .container-tab{
            padding: 25px;
            .header{
                display: flex;
                > div{
                    width: 25%;
                    padding: 20px;
                    box-sizing: border-box;
                    p{
                        color: $color-grayDark;
                        &:nth-child(1){
                            font-weight: 500;
                            padding-bottom: 10px;
                        }
                        &:nth-child(2){
                            background: $color-graylight;
                            color: $color-grayMedium;
                            padding: 10px;
                        }
                    }
                    &:last-child{
                        p{
                            &:nth-child(2){
                                background: $color-grayMedium;
                                color: $color-white;
                                padding: 10px;
                                text-align: center;
                                &.green{
                                    background: #50CD89;
                                }
                            }
                        }
                    }
                }
            }
            .body{
                padding: 20px;
                &-response{
                    textarea{
                        width: 100%;
                        border: none;
                        background: #f5f8fa;
                        padding: 20px;
                        box-sizing: border-box;
                    }
                }
                p{
                    &:nth-child(1){
                        font-weight: 500;
                        color: $color-grayDark;
                        padding-bottom: 10px;
                    }
                    &:nth-child(2){
                        background: $color-graylight;
                        color: $color-black;
                        padding: 15px;
                    }
                }
                .action{
                    text-align: right;
                    button{
                        margin-top: 20px;
                        background: #50CD89;
                        padding: 15px 25px;
                        color: $color-white;
                    }
                }
            }
        }
        

    }
}

/* Botones */
.btn{
    &-state{
        background: #50CD89;
        padding: 10px 30px;
        color: white;
        font-weight: 500;
    }
    &-viewTicket{
        font-size: 15px;
        color: $color-primary;
        font-weight: bold;
        text-decoration: underline;
    }
}