<div class="container-detail change-state">
    <div class="container-detail__header">
        <h1>{{data.title}}</h1>
        
        <button class="btn" (click)="closeModal();">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
    </div>

    <div class="container-detail__body">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="radio-states"
        [(ngModel)]="favoriteSeason">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
