@import '../../../../sass/variable';

.container-documentation{
    background:$color-graylight;
    padding: 3%;
    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      background: $color-white;
    }
    a{
        color: $color-primary;
    }
    h3{
        font-weight: bold;
        color: #1F1E2D;
        background: $color-white;
        padding: 10px 25px;
        font-size: 15px;
    }
    svg{
        width: 15px;
    }
    
}

/* Buttoms */
.btn-addMore {
  display: flex;
  align-items: center;
  background: $color-primary;
  padding: 9px 20px;
  color: $color-white;
  font-size: 16px;
  margin-left: 20px;
  svg{
      width: 25px;
      color: $color-primary;
      fill: white;
      padding-right: 5px;
  }
}