<div class="container-documentation">
    <div class="container-documentation__header">
        <h3>AYUDA</h3>

        <button class="btn btn-addMore" (click)="openDialog();">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
        Añadir Categoría
        </button>
    </div>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="bloque">
          <th mat-header-cell *matHeaderCellDef> Pregunta </th>
          <td mat-cell *matCellDef="let element" 
          [routerLink]="['/ayuda/editar/', element.id]"> {{element.bloque}}</td>
        </ng-container>
      
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
      
        <ng-container matColumnDef="ver">
          <th mat-header-cell *matHeaderCellDef> Servicio </th>
          <td mat-cell *matCellDef="let element" (click)="openView();">{{element.ver}}</td>
        </ng-container>
      
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-button [matMenuTriggerFor]="menu" class="menu_acciones">
                Acciones
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialog();">Editar</button>
            </mat-menu>
         </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>