<app-header *ngIf="isLogin"></app-header>
<div class="container-app">
    <app-navbar *ngIf="isLogin"></app-navbar>

    <div class="container-app__response">

        <app-breadcrumb *ngIf="isLogin"></app-breadcrumb>
        <router-outlet></router-outlet>

    </div>
</div>
