@import '../sass/variable';

.container-app{
    display: flex;
    justify-content: space-between;
    &__response{
        width: 100%;
    }
    app-navbar{
        width: 17%;
        background: $color-gray;
    }
}