<div class="container-breadcrumb">
    <div class="container-breadcrumb__navegation">

        <button class="btn" (click)="goBack();">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 8 8 12 12 16"></polyline><line x1="16" y1="12" x2="8" y2="12"></line></svg>
        </button>

        <button class="btn" (click)="goForward();">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg>
        </button>

    </div>

    <div class="container-breadcrumb__route">

        <breadcrumb #parent>  
            <ol class="breadcrumb">
              <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                <li *ngIf="!route.terminal" class="breadcrumb-item">
                  <a href="" [routerLink]="[route.url]">{{ route.displayName }}  <span>></span></a>
                </li>
         
                <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">  {{ route.displayName }}</li>
              </ng-template>
            </ol>
          </breadcrumb>  

    </div>
</div>