@import '../../../../sass/variable';

.container-breadcrumb {
    display: flex;
    padding: 10px 2%;
    &__navegation{
        button{
            margin-right: 10px;
        }
        svg{
            width: 30px;
            height: 30px;
            color: $color-grayMedium;
            stroke-width: 1;
        }
    }
    &__route{
        display: flex;
        align-items: center;
        padding-left: 5px;
        ol.breadcrumb {
            display: flex;
            list-style: none;
            li{
                font-size: 16px;
                &:nth-child(1){
                    font-weight: bold;
                    color: #1F1E2D;
                    background: #ffffff;
                    font-size: 15px;
                    padding-left: 0;
                    text-transform: uppercase;
                    a{
                        color: $color-black;
                        text-decoration: none;
                    }
                }
                &:nth-child(2){
                    color: #888C9F;
                }
            }
        }
        span{
            padding: 0px 5px;
            color: #1F1E2D;
            font-weight: bold;
        }
        p{
            font-size: 14px;
            color: #1F1E2D;
            &:nth-child(1){
                font-weight: 500;
            }
            &:nth-child(2){
                color: #888C9F;
                font-weight: bold;
            }
        }
    }
}