<div class="container-metrics">
    <div class="container-metrics__salesOfMonth card-3">
        <h4 class="title">Ventas del Mes</h4>

        <div class="afterAndBefore">
            <h2>$3799.00</h2>

            <div class="after">
                <p>$2400.00</p>
                <p>Mes pasado</p>
            </div>
        </div>
    </div>

    <div class="container-metrics__averageOfMonth card-3">
        <h4 class="title">Ticket Promedio del Mes </h4>
        
        <div class="afterAndBefore">
            <h2>$272.98</h2>

            <div class="after">
                <p>$188.00</p>
                <p>Mes pasado</p>
            </div>
        </div>
    </div>

    <div class="container-metrics__exhibitionOfMonth card-3">
        <h4 class="title">Cargos por Exhibición del Mes</h4>
        
        <div class="afterAndBefore">
            <h2>$272.98</h2>

            <div class="after">
                <p>$188.00</p>
                <p>Mes pasado</p>
            </div>
        </div>
    </div>

    <div class="container-metrics__ordersOfMonth card-3">
        <h4 class="title">Pedidos del Mes</h4>
        
        <div class="afterAndBefore">
            <h2>578</h2>

            <div class="after">
                <p>432</p>
                <p>Mes pasado</p>
            </div>
        </div>
    </div>

    <div class="container-metrics__totalPosts card-3">
        <h4 class="title">Publicaciones Totales</h4>
        
        <div class="afterAndBefore">
            <h2>1250</h2>

            <div class="after">
                <p>1200</p>
                <p>Mes pasado</p>
            </div>
        </div>
    </div>
    <div class="container-metrics__publications card-3">
        <h4 class="title">Publicaciones</h4>
        
        <div class="twoList">
            <p>Activos <span>1200</span></p>
            <p>Suspendidos <span>50</span></p>
        </div>
    </div>

    <div class="container-metrics__publications card-2-left w30">
        <h4 class="title">Usuarios Registrados</h4>
        
        <h1>14 880</h1>

        <table class="list-table">
            <thead>
                <tr>
                    <th style="text-align: left;">Tipo</th>
                    <th>N°</th>
                  </tr>
            </thead>

            <tbody>

                <tr>
                    <td>Vendedores</td>
                    <td>1500</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                </tr>

                
                <tr>
                    <td>Compradores</td>
                    <td>1500</td>
                </tr>

                <tr>
                    <td>Empresas</td>
                    <td>1500</td>
                </tr>

                <tr>
                    <td>Tiendas Oficiales</td>
                    <td>1500</td>
                </tr>
                
            </tbody>

        </table>
        
    </div>

    <div class="container-metrics__publications card-2-right w70">
        <h4 class="title">Pedidos recientes</h4>
        
        <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
          
    </div>

    <div class="container-metrics__publications card-2-left w70">
        <h4 class="title">Pedidos recientes</h4>
        
            <table mat-table [dataSource]="dataSource" class="table-products">

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID Venta </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element">
                      <button class="btn btn-state" (click)="openDialogChangeState();">{{element.estado}} </button>
                  </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="vendedor">
                  <th mat-header-cell *matHeaderCellDef> Vendedor </th>
                  <td mat-cell *matCellDef="let element"> {{element.vendedor}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef> Fecha </th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
                  </ng-container>

                  <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef> Ver Venta </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button class="btn btn-view" (click)="openDialog()">Detalles
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                        </button>
                    </td>
                  </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5]"
                             showFirstLastButtons 
                             aria-label="Select page of periodic elements">
              </mat-paginator>
          
    </div>

    <div class="container-metrics__publications card-2-left w30">
        <h4 class="title">Categorías más vendidas</h4>
        <canvas baseChart
            [data]="doughnutChartData"
            [type]="doughnutChartType">
        </canvas>

        <table class="table_category">
            <thead>
              <tr>
                <th>Categoría</th>
                <th>Pedidos</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <span></span> Categoría</td>
                <td>145</td>
                <td>$3799.00</td>
              </tr>
              <tr>
                <td> <span></span> Categoría</td>
                <td>145</td>
                <td>$3799.00</td>
              </tr>
              <tr>
                <td> <span></span> Categoría</td>
                <td>145</td>
                <td>$3799.00</td>
              </tr>
              <tr>
                <td> <span></span> Categoría</td>
                <td>145</td>
                <td>$3799.00</td>
              </tr>
              <tr>
                <td> <span></span> Categoría</td>
                <td>145</td>
                <td>$3799.00</td>
              </tr>
            </tbody>
      
          </table>
    </div>


    <div class="container-metrics__publications card-2-left w50">
        <h4 class="title">Tickets pendientes</h4>
        
            <table mat-table [dataSource]="dataSourcePendientes" class="table-products">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID TICKET </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
            
                <ng-container matColumnDef="idUsuario">
                  <th mat-header-cell *matHeaderCellDef> ID USUARIO </th>
                  <td mat-cell *matCellDef="let element">
                      {{element.idUsuario}}
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef> FECHA Y HORA </th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>
            

                  <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef> VER TICKET </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button class="btn btn-viewTicket" routerLink="../soporte">Ver Ticket</button>
                    </td>
                  </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPendientes"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPendientes;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5]"
                             showFirstLastButtons 
                             aria-label="Select page of periodic elements">
              </mat-paginator>
          
    </div>

    <div class="container-metrics__publications card-2-left w50">
        <h4 class="title">Calificaciones recientes</h4>
          
        <div class="ratings">
            <div>
                <div class="description">
                    <div class="description-image" style="background-image: url(../../../assets/img/ratings/308-3084826_televisor-png-transparent-png.png);"></div>
                    <div class="description-text">
                        <p>Refrigeradora Samsung Top Freezer Twin Cooling Plus</p>
                        <p>Venta #918263123</p>
                    </div>
                </div>
                <div class="value">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                </div>
            </div>

            <div>
                <div class="description">
                    <div class="description-image" style="background-image: url(../../../assets/img/ratings/308-3084826_televisor-png-transparent-png.png);"></div>
                    <div class="description-text">
                        <p>Refrigeradora Samsung Top Freezer Twin Cooling Plus</p>
                        <p>Venta #918263123</p>
                    </div>
                </div>
                <div class="value">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                </div>
            </div>

            <div>
                <div class="description">
                    <div class="description-image" style="background-image: url(../../../assets/img/ratings/308-3084826_televisor-png-transparent-png.png);"></div>
                    <div class="description-text">
                        <p>Refrigeradora Samsung Top Freezer Twin Cooling Plus</p>
                        <p>Venta #918263123</p>
                    </div>
                </div>
                <div class="value">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                </div>
            </div>

            <div>
                <div class="description">
                    <div class="description-image" style="background-image: url(../../../assets/img/ratings/308-3084826_televisor-png-transparent-png.png);"></div>
                    <div class="description-text">
                        <p>Refrigeradora Samsung Top Freezer Twin Cooling Plus</p>
                        <p>Venta #918263123</p>
                    </div>
                </div>
                <div class="value">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                </div>
            </div>

            <div>
                <div class="description">
                    <div class="description-image" style="background-image: url(../../../assets/img/ratings/308-3084826_televisor-png-transparent-png.png);"></div>
                    <div class="description-text">
                        <p>Refrigeradora Samsung Top Freezer Twin Cooling Plus</p>
                        <p>Venta #918263123</p>
                    </div>
                </div>
                <div class="value">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                </div>
            </div>


        </div>
    </div>
    

</div>