@import '../../../sass/variable';

.container-metrics{
    background: $color-graylight;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card-3{
        background: $color-white;
        width: 32%;
        margin-bottom: 20px;
        padding: 15px;
        box-sizing: border-box;
    }

    h1{
        width: 100%;
        text-align: center;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        font-weight: bold;
        background: $color-graylight;
    }

    .card-2-left {
        background: $color-white;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
        &.w30{
            width: 22%;
        }
        &.w70{
            width: 76%;
        }
        &.w50{
            width: 49%;
        }
    }
    
    .card-2-right {
        background: $color-white;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
        &.w30{
            width: 22%;
        }
        &.w70{
            width: 76%;
        }
        &.w50{
            width: 49%;
        }
    }
    .ratings{
         > div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $color-gray;
            padding: 15px 0;
            &:last-child{
                border-bottom: none;
            }
            .description{
                display: flex;
                align-items: center;
                &-image{
                    width: 40px;
                    height: 30px;
                    background-size: cover !important;
                    background-position: center !important;
                }
                &-text{
                    p{
                        padding-left: 10px;
                        &:nth-child(1){
                            font-size: 13px;
                            color: $color-black;
                        }
                        &:nth-child(2){
                            font-size: 12px;
                            color: $color-grayMedium;
                        }
                    }
                }
            }
            .value{
                svg{
                    width: 20px;
                    fill: #FFC700;
                    margin-left: -3px;
                    color: $color-white;
                    &:last-child{
                        fill: #D0D5D9;
                    }
                }
            }
        }
    }

    .table_category{
        width: 100%;
        margin-top: 25px;
        thead tr {
            text-align: center;
            font-size: 14px;
            color: #888C9F;
            font-weight: bold;
            height: 35px;
            border-bottom: 1px solid $color-gray;
            th{
                vertical-align: middle;
            }
        }
        tbody tr {
            color: #888C9F;
            font-size: 12px;
            height: 35px;
            text-align: center;
            border-bottom: 1px solid $color-gray;
            position: relative;
            td{
                vertical-align: middle;
            }
            span{
                width: 10px;
                height: 10px;
                border-radius: 50px;
                display: inline-block;
                margin-right: 8px;
            }
            &:nth-child(1){
                span{
                background: #E62E2E;
                }
            }
            &:nth-child(2){
                span{
                    background: #3377FF;
                    }
            }
            &:nth-child(3){
                span{
                    background: #FFD333;
                    }
            }
            &:nth-child(4){
                span{
                    background: #29CCCC;
                    }
            }
            &:nth-child(5){
                span{
                    background: #5DC728;
                    }
            }
            
        }
    }

    .list-table{
        margin: 0;
        width: 100%;
        margin-top: 15px;
        color: $color-grayMedium;
        thead{
            font-weight: bold;
            color: $color-grayDark;
            font-size: 14px;
        }
        tr{
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $color-gray;
            font-size: 12px;
        }
    }

    .title {
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
    }
    .afterAndBefore {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 24px;
            font-weight: 500;
        }
        .after {
            
            p {
                text-align: right;
                &:nth-child(1){
                    color: $color-grayDark;
                }
                &:nth-child(2){
                    color: $color-grayMedium;
                }
            }
            
        }
    }
    .twoList {
        border-top: 1px solid $color-gray;
        p{
            padding: 5px 0;
            border-bottom: 1px solid $color-gray;
            color: $color-grayMedium;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
        }
    }
    
    /* Botones */
    .btn-state{
        background: #50CD89;
        padding: 10px 20px;
        color: $color-white;
        font-size: 12px;
    }
    .btn-view{
        font-size: 12px;
        display: flex;
        align-items: center;
        color: $color-secondary;
        font-weight: 600;
        text-transform: uppercase;
        svg{
            padding-left: 5px;
            width: 20px;
        }
    }
    .btn-viewTicket{
        font-size: 12px;
        display: flex;
        align-items: center;
        color: $color-primary;
        font-weight: 600;
        text-decoration: underline;
    }
}