<div class="container-editPage">
    <div class="container-editPage__header">
        <h3>{{data.title}}</h3>

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" (click)="closeModal();">
            <g id="add" transform="translate(-492 -252)">
              <path id="Vector" d="M0,0H12" transform="translate(499.757 268.243) rotate(-45)" fill="none" stroke="#292d32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
              <path id="Vector-2" data-name="Vector" d="M0,12V0" transform="translate(499.757 259.757) rotate(-45)" fill="none" stroke="#292d32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
              <path id="Vector-3" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(492 252)" fill="none" opacity="0"/>
            </g>
          </svg>
    </div>

    <div class="container-editPage__body">
        
        <p>Contenido</p>

        <textarea name="" id="" cols="30" rows="10" [disabled]="data.type === '1'">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur ultricies pellentesque. Nullam a ligula in ante consequat iaculis eu a neque. Maecenas nisl nibh, feugiat et leo in, consectetur faucibus mauris. Proin vel ultricies enim. Nam ligula tellus, suscipit vitae sapien at, malesuada eleifend mi. Cras scelerisque malesuada rutrum. Curabitur sollicitudin mi tellus, vel consequat nunc rutrum id. Morbi pulvinar lorem nec quam facilisis tempus. Aliquam ut leo tempor, lacinia nisi non, pretium mi. Duis posuere felis non augue condimentum, vulputate sagittis nisl scelerisque. Mauris cursus mauris eget ipsum auctor interdum. Suspendisse potenti. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque ac vestibulum ligula, at pharetra justo. Nulla enim sem, fermentum venenatis eros interdum, tincidunt facilisis elit. Nullam varius lorem vel lacus faucibus, non tempus ligula condimentum. Proin eget mauris ac elit tristique condimentum vel vel nunc. Vestibulum faucibus finibus sagittis. Maecenas ultrices vel enim nec fermentum. Curabitur metus ex, eleifend eu nulla nec, maximus ornare sem. Donec ornare congue lectus nec mattis. Aenean lacinia, nisl in aliquam tincidunt, ligula eros porta magna, sit amet fermentum ipsum ipsum vitae est. Aliquam est velit, ultricies rutrum arcu vel, sodales lobortis nulla. Nam pulvinar ultricies magna quis luctus. Duis malesuada nisl maximus dignissim blandit. Pellentesque sed eros non risus ultrices pulvinar. Nunc pulvinar eros vel arcu ullamcorper, in vehicula leo ornare. Praesent scelerisque, lorem ac lacinia sodales, est velit blandit massa, vel condimentum ligula enim at ante. Aliquam tellus nunc, facilisis at malesuada vitae, scelerisque ac tortor. Aliquam urna dolor, lobortis sed gravida suscipit, tincidunt nec quam. Curabitur accumsan lorem eget scelerisque molestie. Etiam quis fringilla enim. Donec luctus massa sollicitudin fermentum venenatis. Suspendisse et dui odio. Nam eget orci sed nulla bibendum tempus ac rhoncus quam. Sed id fringilla diam, a dapibus tortor. Nulla vel tellus purus. Duis tincidunt sagittis pellentesque. Donec dignissim ante vel lorem condimentum elementum. Suspendisse fermentum dolor nibh, et fringilla sem elementum nec. Morbi in mauris suscipit, feugiat nisi id, venenatis enim. Nulla dictum placerat neque, at laoreet ante euismod eget. In hac habitasse platea dictumst. Mauris id suscipit dui, eu aliquet leo. Phasellus vulputate ut risus ut ultrices. Integer vitae tellus vitae nibh rhoncus tincidunt. Donec hendrerit fermentum magna. Maecenas quam elit, consectetur a facilisis sit amet, vehicula et nibh. Integer malesuada vitae lacus eu tristique. Pellentesque ipsum enim, ultricies sed finibus eu, egestas id mi. Vestibulum vehicula at ex vitae semper.
        </textarea>
    </div>
    <div class="container-editPage__footer" *ngIf="data.type === '2'">

        <button class="btn btn_cancel" (click)="closeModal();">Cancelar</button>
        <button class="btn btn_save">Guardar</button>
        
    </div>
</div>