@import '../../../../../sass/variable';

.container-editPage{
    padding: 3%;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            font-weight: bold;
            color: $color-grayDark;
            font-size: 18px;
        }
    }
    &__body{
        padding: 15px 20px;
        textarea{
            width: 100%;
            border: none;
            background: $color-graylight;
            padding: 25px 20px;
            box-sizing: border-box;
            color: #888C9F;
            font-weight: 500;
            line-height: 1.5;
        }
        p{
            font-weight: 500;
            font-size: 16px;
            padding-bottom: 5px;
            color: $color-grayDark;

        }
    }
    &__footer{
        text-align: center;
        button{
            padding: 10px 25px;
            color: $color-white;
            font-weight: 500;
            font-size: 14px;
            margin: 0 10px;
            &.btn_cancel{
                background: $color-primary;
            }
            &.btn_save{
                background: #50CD89;
            }
        }
    }
}