@import '../../../sass/variable';

.container-documentation{
    background:$color-graylight;
    padding: 3%;
    a{
        color: $color-primary;
    }
    h3{
        font-weight: bold;
        color: #1F1E2D;
        background: $color-white;
        padding: 10px 25px;
        font-size: 15px;
    }
    svg{
        width: 15px;
    }
}