<div class="container-documentation">
    <h3>POLITICAS DE PRIVACIDAD</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="bloque">
          <th mat-header-cell *matHeaderCellDef> Bloque </th>
          <td mat-cell *matCellDef="let element"> {{element.bloque}} </td>
        </ng-container>
      
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha de modificación </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
      
        <ng-container matColumnDef="ver">
          <th mat-header-cell *matHeaderCellDef> Ver Bloque </th>
          <td mat-cell *matCellDef="let element">
                <a (click)="openDialog('1', 'VER BLOQUE');">
                    Ver bloque
                </a>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-button [matMenuTriggerFor]="menu" class="menu_acciones">
                Acciones
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialog('2', 'EDITAR BLOQUE');">Editar</button>
            </mat-menu>
         </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>