@import '../../../../sass/variable';

.container-navigation{
    background: $color-primary;
    padding: 5%;
    height: 4vh;
    display: flex;
    align-items: center;
    &__return{
        display: flex;
        align-items: center;
        svg{
            color: $color-white;
        }
        h3{
            color: $color-white;
            font-size: 22px;
            font-weight: 500;
            padding-left: 15px;
        }
    }
}