<div class="container-menu">
    <div class="container-menu__return" routerLink="../login">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    </div>

    <div class="container-menu__user">
        <h3>@laudias</h3>
    </div>

    <div class="container-menu__navbar">
        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn" (click)="menuOpenClose(menu)"><span class="navicon"></span></label>

    </div>
</div>