@import '../../../../sass/variable';


.container-menu {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: $color-white;
    &__return{

    }
    &__user{
        h3{
            color: $color-black;
            font-weight: 500;
            font-size: 20px;
        }
    }
}





/* Menu burger */
.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 0px;
    position: relative;
    user-select: none;
    display: none;
    
    @media (max-width:768px){
        display: inline-block;
    }
}

.menu-icon .navicon {
    background: $color-black;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
}


.menu-icon .navicon:before, .menu-icon .navicon:after {
    background: $color-black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 7px;
}

.menu-icon .navicon:after {
    top: -7px;
}

.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .header-buttons {
    max-height: 240px;
}

input#menu-btn {
    display: none;
}