<div class="container-detail">
    <div class="container-detail__header">
        <h1>{{data.title}}</h1>
        
        <button class="btn" (click)="closeModal();">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
    </div>

    <div class="container-detail__body">

      <div class="detail-header">
          <div>
            <p>Vendedor</p>
            <p>1238961294</p>
          </div>

          <div>
            <p>ID Comprador</p>
            <p>BRKLYN28585</p>
          </div>
      </div>
      <div class="detail-body">
        <h3>Estado de Venta</h3>
        <div class="product">

            <div class="product-detail">
              <img src="https://www.kindpng.com/picc/m/21-216641_refrigerator-refrigerador-imagen-en-png-transparent-png.png" alt="">
              
              <div>
                <p>Refrigeradora Samsung Top Freezer Con Twin Cooling Plus</p>
                <p>Marca</p>
                <p>
                  <span>S/ 1199</span>
                  |
                  <span>4 u.</span>
                </p>
              </div>
            </div>

            <div class="product-state">
              <div>
                <p>Estado</p>
                <p>Concretada</p>
              </div>

              <div>
                <p>Envío</p>
                <p>En curso</p>
              </div>

              <div>
                <p>Fecha de entrega</p>
                <p>20 de septiembre</p>
              </div>

            </div>

        </div>

      </div>
      <div class="detail-footer">
        
        <div>
            <h3>Estado de Venta</h3>

          <div class="date">
            <div>
              <p>Nro. de Pedido</p>
              <p># 4817132185</p>
            </div>

            <div>
              <p>Fecha</p>
              <p>25 de agosto</p>
            </div>

          </div>

          <div class="order">

            <div>
              <p>Productos ( 2 )</p>
              <p>S/ 50</p>
            </div>

            <div>
              <p>Impuesto</p>
              <p>S/ 50</p>
            </div>

            <div>
              <p>Envío</p>
              <p>S/ 50</p>
            </div>

          </div>

          <div class="total">

            <div>
              <p>Total</p>
              <p>S/ 112</p>
            </div>

          </div>
        </div>

      </div>

    </div>
</div>
