<div class="container-editPage">
    <div class="container-editPage__header">
        <h3>Añadir Categoría</h3>

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" (click)="closeModal();">
            <g id="add" transform="translate(-492 -252)">
              <path id="Vector" d="M0,0H12" transform="translate(499.757 268.243) rotate(-45)" fill="none" stroke="#292d32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
              <path id="Vector-2" data-name="Vector" d="M0,12V0" transform="translate(499.757 259.757) rotate(-45)" fill="none" stroke="#292d32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
              <path id="Vector-3" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(492 252)" fill="none" opacity="0"/>
            </g>
          </svg>
    </div>

    <div class="container-editPage__body">
        
        <form action="">

            <div class="form-group">
                <h4>Nombre de la Categoría</h4>
                <input type="text">
            </div>


            <div class="form-group">
                <h4>Selecciona Servicio</h4>
                <mat-form-field appearance="fill">
                    <mat-select>
                      <mat-option value="option">Compra</mat-option>
                      <mat-option value="option">Venta</mat-option>
                      <mat-option value="option">Ayuda sobre tu Cuenta</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

            <div class="form-group">
                <h4>Selecciona Icono</h4>
                <div class="upload-icon">
                    <div class="upload-icon__image">
                        <img src="../../../../../assets/img/icons/bag.svg" alt="">
                        <button class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                        </button>
                        <button class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                        </button>
                    </div>
                    <div class="upload-icon__detail">
                        <p>Resolución: 71 x 71</p>
                        <p>Tipos de archivos permitidos: png, jpg, jpeg</p>
                    </div>

                </div>
            </div>

        </form>
        
    </div>
    <div class="container-editPage__footer">

        <button class="btn btn_cancel" (click)="closeModal();">Cancelar</button>
        <button class="btn btn_save">Añadir</button>
        
    </div>

</div>