@import '../../../../../sass/variable';

.container-editPage{
    padding: 3%;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            font-weight: bold;
            color: $color-grayDark;
            font-size: 18px;
        }
    }
    &__body{
        padding: 15px 20px;
        textarea{
            width: 100%;
            border: none;
            background: $color-graylight;
            padding: 25px 20px;
            box-sizing: border-box;
            color: $color-grayDark;
            font-weight: 500;
            line-height: 1.5;
        }
        p{
            font-weight: 500;
            font-size: 16px;
            padding-bottom: 5px;
            color: $color-grayDark;

        }
        .form-group {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 10px;

            h4{
                color: #1F1E2D;
                font-size: 14px;
                font-weight: 500;
                width: 100%;
                padding-bottom: 5px;
            }
            input{
                width: 100%;
                background: #F5F8FA;
                border: 0;
                padding: 10px 20px;
                color: #888C9F;
            }
            mat-form-field {
                width: 100%;
            }

            .upload-icon {
                display: flex;
                align-items: flex-end;
                &__image{
                    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
                    -webkit-box-shadow: 0px 4px 10px 1px rgb(0 0 0 / 12%);
                    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
                    border-radius: 10px;
                    padding: 10px;
                    box-sizing: border-box;
                    position: relative;
                    margin-right: 20px;
                    button{
                        position: absolute;
                        box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
                        -webkit-box-shadow: 0px 4px 10px 1px rgb(0 0 0 / 12%);
                        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

                        &:nth-child(2){
                            bottom: -5px;
                            right: -10px;
                            width: 25px;
                            height: 25px;
                            background: white;
                            border-radius: 50px;
                            padding: 2px;
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                        }   
                        &:nth-child(3){
                            top: -5px;
                            right: -10px;
                            width: 25px;
                            height: 25px;
                            background: white;
                            border-radius: 50px;
                            padding: 2px;
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        svg{
                            width: 12px;
                        }
                    }
                }
                &__detail{
                    p{
                        color: #888C9F;
                        font-size: 12px;
                        line-height: 1;
                    }
                }
            }
        }
    }
    &__footer{
        text-align: center;
        padding-top: 30px;
        button{
            padding: 10px 25px;
            color: $color-white;
            font-weight: 500;
            font-size: 14px;
            margin: 0 10px;
            &.btn_cancel{
                background: $color-primary;
            }
            &.btn_save{
                background: #50CD89;
            }
        }
    }
}