<div class="container-editPage">
    <div class="container-editPage__header">
        <h3>{{data.titulo}}</h3>

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" (click)="closeModal();">
            <g id="add" transform="translate(-492 -252)">
              <path id="Vector" d="M0,0H12" transform="translate(499.757 268.243) rotate(-45)" fill="none" stroke="#292d32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
              <path id="Vector-2" data-name="Vector" d="M0,12V0" transform="translate(499.757 259.757) rotate(-45)" fill="none" stroke="#292d32" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
              <path id="Vector-3" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(492 252)" fill="none" opacity="0"/>
            </g>
          </svg>
    </div>

    <div class="container-editPage__body">
        
        <form action="">

            <div class="form-group">
                <h4>Título <span>*</span></h4>
                <input type="text" placeholder="¿Pregunta referente al servicio de mi pedido?" [disabled]="data.type === '2'">
            </div>

            <div class="form-group">
                <h4>Descripción <span>*</span></h4>
                <textarea name="" id="" cols="30" rows="10" [disabled]="data.type === '2'">
                    Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.
                </textarea>
            </div>

        </form>
        
    </div>
    <div class="container-editPage__footer" *ngIf="data.type === '1'">

        <button class="btn btn_cancel" (click)="closeModal();">Cancelar</button>
        <button class="btn btn_save">Añadir</button>
        
    </div>

</div>