/* You can add global styles to this file, and also import other style files */
@import './sass/reset';
@import './sass/variable';
@import './sass/buttons';

@import './sass/general';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Reset Select in material */
mat-form-field.country{
    div{
        padding: 0 !important;
        margin: 0 !important;
    }
}

.user{
    .mat-button-focus-overlay {
        background: transparent !important;
    }
}

button.mat-focus-indicator.mat-menu-trigger.mat-button.mat-button-base {
    padding: 0 !important;
}



/* Exapand reset */
.mat-expansion-panel-header.mat-expanded {
    height: 50px !important;
}


mat-expansion-panel.mat-expansion-panel {
    background: transparent;
    box-shadow: none !important;
    border-radius: 0px !important;
    background-color: $color-gray;
}
mat-expansion-panel{
    margin: 0 !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

/* Datatable */
table.mat-table.cdk-table.table-products{
    width: 100%;
}

tr.mat-header-row {
    height: 50px !important;
    vertical-align: middle !important;
    font-size: 12px;
    &:nth-child(1) {
        background: #f5f8fa;
    }
}

tr.mat-header-row th{
    vertical-align: middle !important;
    color: $color-grayMedium;
    font-weight: 500;
    font-size: 12px;
}
tr.mat-row, tr.mat-footer-row {
    height: 50px !important;
}

tr.mat-row td{
    vertical-align: middle !important;
    color: $color-grayMedium;
    font-size: 12px;
}


/* Reset Tab */
.container-support__description
mat-tab-header {
    background: $color-white;
    margin-bottom: 20px;
}
.container-support__description
.mat-tab-body-wrapper{
    background: $color-white;
}


/* Popups */

.frmConfirm button.swal2-cancel.swal2-styled {
    background: #F1416C;
    border-radius: 0;
}

.frmConfirm button.swal2-confirm.swal2-styled{
    background: #50CD89;
    border-radius: 0;
}

.frmConfirm  .swal2-popup {
    border-radius: 0;
}



/* Reset Material Dialog */
.detailModal{
    .mat-dialog-container {
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        overflow: hidden;
    }
    .container-detail{
        &__header{
            background: $color-primary;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            color: $color-white;
            h1{
                font-weight: 500;
            }
            button{
                svg{
                    color: $color-white;
                }
            }
        }
        &__body{
            padding: 20px;
            .detail-header{
                display: flex;
                justify-content: space-between;
                background: #F1FAFF;
                padding: 10px 30px;
                margin-bottom: 20px;
                > div{
                    display: flex;
                    p{
                        font-size: 14px;
                        &:nth-child(1){
                            font-weight: 500;
                            padding-right: 10px;
                            color: $color-black;
                        }
                        &:nth-child(2){
                            color: $color-grayMedium;
                        }
                    }
                }

            }
            .detail-body{
                box-shadow: 0px 1px 3px #00000029;
                padding: 10px 30px;
                h3{
                    font-size: 19px;
                    font-weight: 500;
                    padding-bottom: 20px;
                }
                .product{
                    display: flex;
                    justify-content: space-between;
                    &-detail{
                        display: flex;
                        width: 50%;
                        padding-right: 40px;
                        img{
                            width: 60px;
                        }
                        > div {
                            p{
                                &:nth-child(1){
                                    font-size: 13px;
                                    color: $color-grayDark;
                                }
                                &:nth-child(2){
                                    font-size: 14px;
                                    color: $color-grayMedium;
                                    padding: 5px 0; 
                                }
                                &:nth-child(3){
                                    font-size: 13px;
                                    color: $color-grayMedium;
                                }
                            }
                        }
                    }
                    &-state{
                        width: 50%;
                        padding-left: 40px;
                        border-left: 1px solid $color-grayMedium;
                        > div{
                            display: flex;
                            justify-content: space-between;
                            p{
                                width: 100%;
                            }
                            &:nth-child(1){
                                p{

                                    &:nth-child(1){
                                        font-size: 13px;
                                        color: $color-grayMedium;
                                    }
                                    &:nth-child(2){
                                        font-size: 14px;
                                        color: $color-secondary;
                                        padding: 5px 0; 
                                        font-weight: 500;
                                    }
                                }
                            }
                            &:nth-child(2){
                                p{

                                    &:nth-child(1){
                                        font-size: 13px;
                                        color: $color-grayMedium;
                                    }
                                    &:nth-child(2){
                                        font-size: 14px;
                                        color: #24C56D;
                                        padding: 5px 0; 
                                        font-weight: 500;
                                    }
                                }
                            }
                            &:nth-child(3){
                                p{

                                    &:nth-child(1){
                                        font-size: 13px;
                                        color: $color-grayMedium;
                                    }
                                    &:nth-child(2){
                                        font-size: 14px;
                                        color: $color-grayDark;
                                        padding: 5px 0; 
                                        font-weight: 500;
                                    }
                                }
                            }
                            
                        }
                    }
                }

            }
        }
        .detail-footer{
            margin-top: 20px;
            display: flex;
            justify-content: end;
            > div {
                box-shadow: 0px 1px 3px #00000029;
                width: 42%;
                padding: 10px 30px;
                
                h3{
                    font-size: 19px;
                    font-weight: 500;
                }

                .date{
                    padding: 20px 0;

                    > div{
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .order{
                    padding: 20px 0;
                    border-top: 1px solid $color-grayMedium;
                    border-bottom: 1px solid $color-grayMedium;
                    > div{
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .total{
                    padding: 20px 0;

                    > div{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                p{
                    width: 100%;
                    &:nth-child(1){
                        font-size: 13px;
                        color: $color-grayMedium;
                    }
                    &:nth-child(2){
                        font-size: 14px;
                        color: $color-grayDark;
                        padding: 5px 0; 
                        font-weight: 500;
                    }
                }
            }
        }
    }
    
}



/* Datatable Search support */
.form-group.filter{
    .mat-form-field-wrapper {
        padding: 0;
    }
    .mat-form-field-flex {
        padding: 12px 20px;
    }

    .mat-form-field-infix {
        width: 90px;
        margin: 0;
        padding: 0;
        border: none;
    }
    .mat-form-field-underline.ng-star-inserted{
        display: none;
    }

    .mat-form-field-should-float span.mat-form-field-label-wrapper {
        display: none;
    }
    .mat-select-arrow-wrapper{
        .mat-select-arrow{
            color: $color-graylight;
        }
    }
    svg{
        width: 20px;
        padding-right: 10px;
    }

    span{
        font-weight: bold;
        color: $color-grayMedium;
        font-size: 16px;
    }

    span.mat-select-min-line {
        font-weight: bold;
        color: $color-grayMedium;
    }
    
    span.mat-form-field-label-wrapper {
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 0 !important;
        position: initial;
    }

    label {
        top: 0;
        margin: 0;
    }

    label {
        top: -5px;
    }

    mat-label.ng-star-inserted {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


tr.mat-row.cdk-row.ng-star-inserted:hover td {
    color: $color-primary !important;
    font-weight: 500;
    text-decoration: underline;
}


/* Modal Change State */
.radio-states{
    display: flex;
    flex-direction: column;
    mat-radio-button {
        width: 100%;
    }
    label.mat-radio-label {
        display: flex;
        justify-content: space-between;
    }

    
}
.change-state{
    .container-detail__body {
        padding: 0;
    }
    mat-radio-button {
        padding: 20px 45px;
        border-bottom: 1px dashed $color-gray;
        box-sizing: border-box;
        &:last-child {
            border-bottom: 0;
        }
    }
    span.mat-radio-label-content {
        font-size: 18px;
        font-weight: 500;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: $color-primary;

    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle{
        background-color: $color-primary;
    }
}




/**/
.container-documentation{
    table.mat-table.cdk-table.mat-elevation-z8 {
        width: 100%;
        box-shadow: none;
    }
}
.container-documentation{
    .menu_acciones.mat-button.mat-button-base{
        padding: 5px 25px !important;
    }
}



.form-group{
    .mat-form-field-flex {
        background: #f5f8fa;
    }
    .mat-form-field-wrapper {
        padding: 0;
    }
    .mat-form-field-underline{
        display: none;
    }
    .mat-form-field-infix {
        border: none;
    }
    .mat-select-arrow-wrapper {
        transform: none !important;
    }
}