<div class="container-menu">
    <div class="container-menu__logo">
        <img src="../../../../assets/img/general/logo.svg" alt="">
    </div>

    <div class="container-menu__navbar">
        <div class="country" style="background-image: url(../../../../assets/img/header/country/chile.png);">
            
        </div>

        <div class="user">
            <button mat-button [matMenuTriggerFor]="menu">
                <div class="user-info">
                    <div class="photo" style="background-image: url(https://images.pexels.com/photos/941693/pexels-photo-941693.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">

                    </div>
                    <div class="detail">
                        <p>Junior López</p>
                        <p>jlopez@gmail.com</p>
                    </div>
                </div>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
        
    </div>
</div>