@import '../../../../sass/variable';

.container-menu{
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-gray;
    &__logo{
        img{
            width: 90px;
        }
    }
    &__navbar{
        display: flex;
        align-items: center;    
        .country{
            width: 40px;
            height: 40px;
            border-radius: 60px;
            background-position: center;
            background-size: cover;
            margin-right: 10px;
        }
        .user{
            
            &-info{
                display: flex;
                align-items: center;
                margin-left: 10px;
                p{
                    line-height: 1; 
                    text-align: left;
                }
                .photo{
                    width: 40px;
                    height: 40px;
                    border-radius: 60px;
                    margin-right: 8px;
                    background-size: cover !important;
                    background-position: center !important;
                }
                .detail{
                    p{
                        font-size: 12px;
                        &:nth-child(1){
                            color: $color-black;
                            padding-bottom: 5px;
                        }
                        &:nth-child(2){
                            color: $color-grayMedium;
                        }
                    }
                }
            }
        }
    }
}